{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-12 mt-5">
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
