{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-12 text-center mt-5">
            <h1>Url shortener</h1>
            <p>original url: {{ object.url }}</p>
            <p>new url: {{ request.get_host }}/{{ object.shortcode }}</p>
            <a href='/{{ object.shortcode }}'>
                <button type="button" class="btn btn-primary">{{ request.get_host }}/{{ object.shortcode }}</button>
            </a>
            <br>
            <a href='/'>
                <button type="button" class="btn btn-primary">Shorten another URL</button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}